<div class="mx-5">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">日期</th>
        <th scope="col">名稱</th>
        <th scope="col">類別</th>
        <th scope="col">金額</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2022.04.01</th>
        <td>雞腿便當</td>
        <td>午餐</td>
        <td>120</td>
      </tr>
      <tr>
        <th scope="row">2022.04.01</th>
        <td>油錢</td>
        <td>交通費</td>
        <td>155</td>
      </tr>
      <tr>
        <th scope="row">2022.04.03</th>
        <td>水壺</td>
        <td>日用品</td>
        <td>200</td>
      </tr>
    </tbody>
  </table>
</div>